<div class="main-body">
  <div class="header-order">
    <button color="primary" mat-raised-button routerLink="/orders">Back</button>

    <h1>Total : {{ totalPrice }} VND</h1>
  </div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Name, category , price , ..."
      #input
    />
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="cartItemID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="listImage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
        <td mat-cell *matCellDef="let row" style="padding: 15px 0">
          <img
            style="object-fit: cover"
            width="100px"
            height="100px"
            [src]="
              row.listImage[0]
                ? row.listImage[0]
                : 'https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'
            "
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
        <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
      </ng-container>

      <ng-container matColumnDef="itemQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.itemQuantity }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let row">
          {{ row.price | currency : "VND" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of category"
    ></mat-paginator>
  </div>
</div>
