html,
body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: radial-gradient(
            circle at 30% 86%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 8%,
            transparent 8%,
            transparent 92%
        ),
        radial-gradient(
            circle at 55% 100%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 8%,
            transparent 8%,
            transparent 92%
        ),
        radial-gradient(
            circle at 40% 75%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 7% 99%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 69% 76%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 2% 35%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 14% 48%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 28% 87%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        radial-gradient(
            circle at 65% 14%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        radial-gradient(
            circle at 51% 36%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        radial-gradient(
            circle at 6% 93%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        linear-gradient(135deg, rgb(23, 233, 173), rgb(29, 24, 208));
}
.login {
    width: 100%;
    max-width: 530px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    &-title {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
        margin-top: 0px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: #fff;
        padding: 15px;
        text-align: center;
        font-size: 2em;
    }
}
.login-form {
    padding: 15px;
    max-width: 100%;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-button {
    width: 100%;
    margin-top: 10px;
}
.h-50-px {
    height: 50px;
}
.error {
    color: #9af900;
    font-size: 16px;
    transition: all 0.5s ease-out;
    text-transform: uppercase;
    font-weight: 600;
}
