<!-- <button
  style="position: relative; top: 50px; left: 100px"
  color="primary"
  mat-raised-button
  routerLink="/home"
>
  Back
</button> -->
<p>
  <mat-toolbar color="primary">
    <span>Admin manage</span>
    <span class="example-spacer"></span>
    <button class="mr-5" mat-raised-button routerLink="/home">Back</button>
    <button mat-icon-button class="example-icon supervised_user_circle-icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="chart-container">
  <h2>Amount chart</h2>
  <div style="width: 1200px; height: 800px">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <h2>User & Order chart</h2>

  <body style="width: 0; margin-top: 80px">
    <div class="main-container">
      <div class="year-stats">
        <div class="month-group">
          <div class="bar h-100"></div>
          <p class="month">Jan</p>
        </div>
        <div class="month-group">
          <div class="bar h-50"></div>
          <p class="month">Feb</p>
        </div>
        <div class="month-group">
          <div class="bar h-75"></div>
          <p class="month">Mar</p>
        </div>
        <div class="month-group">
          <div class="bar h-25"></div>
          <p class="month">Apr</p>
        </div>
        <div class="month-group">
          <div class="bar h-100"></div>
          <p class="month">May</p>
        </div>
        <div class="month-group">
          <div class="bar h-50"></div>
          <p class="month">Jun</p>
        </div>
        <div class="month-group">
          <div class="bar h-75"></div>
          <p class="month">Jul</p>
        </div>
        <div class="month-group">
          <div class="bar h-25"></div>
          <p class="month">Aug</p>
        </div>
        <div class="month-group">
          <div class="bar h-50"></div>
          <p class="month">Sep</p>
        </div>
        <div class="month-group">
          <div class="bar h-75"></div>
          <p class="month">Oct</p>
        </div>
        <div class="month-group">
          <div class="bar h-25"></div>
          <p class="month">Nov</p>
        </div>
        <div class="month-group">
          <div class="bar h-100"></div>
          <p class="month">Dec</p>
        </div>
      </div>

      <div class="stats-info">
        <div class="graph-container">
          <div class="percent">
            <svg viewBox="0 0 36 36" class="circular-chart">
              <path
                class="circle"
                stroke-dasharray="100, 100"
                d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="85, 100"
                d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="60, 100"
                d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
              />
              <path
                class="circle"
                stroke-dasharray="30, 100"
                d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
              />
            </svg>
          </div>
          <p>Total: {{ amount | currency : "VND" }}</p>
        </div>

        <div class="info">
          <p>
            Total user on system <span>{{ totalUser }}</span>
          </p>
          <p>
            Total order <span>{{ totalOrder }}</span>
          </p>
          <p>
            Total product <span>{{ totalProduct }}</span>
          </p>
        </div>
      </div>
    </div>
  </body>
</div>
